.boxs {
  overflow: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  background: #F5F6FA;

  .more {
    position: relative;
    padding: 20rpx 0rpx;
    box-sizing: border-box;
    overflow: hidden;
  
    .at-list__item {
      margin-left: 24rpx;
      padding-left: 0rpx;
    }
  
    .picker1 {
      .pickVal {
        position: absolute;
        right: 0rpx;
        z-index: 100;
        top: 20rpx;
        width: 510rpx;
        height: 90rpx;
        color: #808080;
        opacity: 0;
      }
    }
    .picker2 {
      .pickVal {
        position: absolute;
        right: 0rpx;
        z-index: 100;
        // top: 410rpx;
        top: 223rpx;
        width: 510rpx;
        height: 90rpx;
        color: #808080;
        opacity: 0;
      }
    }
  
  
    //弹出层样式
    .at-float-layout {
      height: 0rpx;
  
      .btn {
        display: flex;
        margin-top: 50rpx;
        padding: 0rpx 40rpx;
  
        .cancel {
          margin-right: 32rpx;
        }
        at-button {
          flex: 1;
        }
      }
    }
    .at-float-layout__container {
      background-color: #F5F6FA;
      max-height: 100vh;
      min-height: 100vh;
      top: 162rpx;
    }
  
    .at-float-layout .layout-body {
      padding: 0rpx;
      height: 100%;
      .at-input {
        margin-left: 0rpx;
        margin-top: 1rpx;
        padding-left: 32rpx
      }
    }

    .text {
      padding: 10rpx 0rpx 5rpx 20rpx;
    }
    .at-image-picker__flex-box {
      height: 365rpx;
      image {
        height: 365rpx !important;
        width: 90vw;
      }
    }
    .at-image-picker__item {
      width: 90vw;
    }
  }
}
