.boxs {
  box-sizing: border-box;
  background-color: #f5f6fa;

  .at-tabs__item {
    flex: 0.3;
  }
  .at-tabs__item--active .at-tabs__item-underline {
    left: -55rpx;
  }

  .at-load-more__tip {
    color: #acaeb5;
    font-size: 28rpx;
  }

  .marginB20 {
    margin-bottom: 20rpx;
  }
  .textColor22 {
    color: #2276ff;
  }
  .at-button--small {
    padding: 0rpx 10rpx;
  }

  .myOrder {
    .list {
      // padding-top: 20rpx;
      .hint {
        display: flex;
        font-size: 28rpx;
        color: #f67149;
        margin-top: 28rpx;
        padding-bottom: 60rpx;
        & > view:nth-child(1) {
          width: 32rpx;
          height: 32rpx;
          margin-right: 12rpx;
          margin-top: 4rpx;
          image {
            width: 32rpx;
            height: 32rpx;
          }
        }
      }

      // .footer {
      //   display: flex;
      //   justify-content: flex-end;
      //   margin-top: 25rpx;
      //   &>view {
      //     display: flex;
      //   }
      // }

      .item {
        background-color: #ffffff;
        margin-bottom: 20rpx;
        padding: 37rpx 40rpx 0rpx 32rpx;
        box-sizing: border-box;
        font-size: 30rpx;

        .tips {
          font-size: 28rpx;
          color: #f67149;
          display: flex;
          margin-bottom: 28rpx;
          image {
            width: 32rpx;
            height: 32rpx;
            margin-right: 12rpx;
            margin-top: 8rpx;
          }
        }

        .top {
          display: flex;
          color: #808080;
          & > view:nth-child(1) {
            // background-color: #5584FF;
            border-radius: 4rpx;
            image {
              width: 210rpx;
              height: 160rpx;
            }
          }
          & > view:nth-child(2) {
            flex: 1;

            & > view:nth-child(1) {
              font-size: 30rpx;
              color: #3e3e3e;
              display: flex;
              justify-content: space-between;
            }
            & > view:nth-child(2),
            & > view:nth-child(3) {
              font-size: 24rpx;
              color: #808080;
              margin: 5rpx 0rpx;
            }
            & > view:nth-child(4) {
              font-size: 24rpx;
              color: #808080;
            }
          }
        }

        .bottom {
          & > view {
            color: #808080;
          }
          .l {
            color: #808080;
            box-sizing: border-box;
            & > view {
              image {
                width: 32rpx;
                height: 32rpx;
              }
            }
          }
          .c {
            text-align: left;
            box-sizing: border-box;
            flex: 3;
            .overtime {
              color: #f67149;
            }
          }
        }
      }

      .item1 {
        padding: 21rpx 28rpx 46rpx 32rpx;
        background-color: #ffffff;
      }
    }
  }
}
