

.container {
  background: #F5F6FA;
  height: 100vh;


  .box_top {
    padding: 0 28rpx 34rpx 28rpx;
    border-bottom: 1rpx solid #E5E5E5;
    background: #ffffff;

    .nav {
      display: flex;
      &>view {
        flex: 1;
        text-align: center;

        image {
          width: 100rpx;
          height: 100rpx;
        }
      }
    }
  }

  /* 头部图片 */
  .title_img {
    background: #ffffff;

    image {
      width: 100%;
      height: 400rpx;
      border-radius: 10rpx;
    }
  }


  .home_bottom{
      padding: 50rpx 18rpx;
      // margin-bottom: 140rpx;
      font-size: 36px;
      color: #FFFFFF;
      font-weight: 600;

      .posiHome{
        position: absolute;
        top: 0;
        left:0;
        padding: 72rpx 0 0 36rpx;
      }
      image{
        position: absolute;
        top: 0;
        left:0;
        width: 346rpx;
        height: 234rpx;
      }
    .car_voucher{
      float: left;
      opacity: 0.9;
      border-radius: 8px;
      position: relative;
      width: 346rpx;
      height: 234rpx;
    }
    .car_warrant{
      float: right;
      opacity: 0.9;
      border-radius: 8px;
      position: relative;
      width: 346rpx;
      height: 234rpx;
    }
  }


}



