.container {
  overflow: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #F5F6FA;
  

  .content {
    background-color: #ffffff;
  }

  // 搜素历史
  .search_history {
    background-color: #ffffff;
    padding-top: 1px;    
    .s-block {
      margin-top: 30px;
    
      .header {
        font-size: 32px;
        padding: 30px;
        position: relative;
    
        image {
          width: 36px;
          height: 36px;
          padding: 10px;
          position: absolute;
          right: 40px;
          top: 24px;
        }
      }
    
      .list {
        display: flex;
        flex-wrap: wrap;
    
        view {
          width: 50%;
          color: #8a8a8a;
          font-size: 28px;
          box-sizing: border-box;
          text-align: center;
          padding: 20px 0;
          border-top: 2px solid #fff;
          border-left: 2px solid #fff;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          background-color: #f7f7f7;
        }
      }
    }
    
    .s-circle {
      margin-top: 30px;
    
      .header {
        font-size: 32px;
        padding: 30px;
        border-bottom: 2px solid #f9f9f9;
        position: relative;
    
        image {
          width: 36px;
          height: 36px;
          padding: 10px;
          position: absolute;
          right: 40px;
          top: 24px;
        }
      }
    
      .list {
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px 20px;
    
        view {
          padding: 8px 30px;
          margin: 20px 30px 0 0;
          font-size: 28px;
          color: #8a8a8a;
          background-color: #f7f7f7;
          box-sizing: border-box;
          text-align: center;
          border-radius: 20px;
        }
      }
    }
    
    .wanted-block {
      margin-top: 30px;
    
      .header {
        font-size: 32px;
        padding: 30px;
      }
    
      .list {
        display: flex;
        flex-wrap: wrap;
    
        view {
          width: 50%;
          color: #8a8a8a;
          font-size: 28px;
          box-sizing: border-box;
          text-align: center;
          padding: 20px 0;
          border-top: 2px solid #fff;
          border-left: 2px solid #fff;
          background-color: #f7f7f7;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    
    .wanted-circle {
      margin-top: 30px;
    
      .header {
        font-size: 32px;
        padding: 30px;
      }
    
      .list {
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px 20px;
    
        view {
          padding: 8px 30px;
          margin: 20px 30px 0 0;
          font-size: 28px;
          color: #8a8a8a;
          background-color: #f7f7f7;
          box-sizing: border-box;
          text-align: center;
          border-radius: 20px;
        }
      }
    }
  }


  .overflow1 {
    width: 420rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .at-input::after {
    border-bottom-width: 0px;
  }

  .community {
    background-color: #F5F6FA;
    min-height: 100vh;

    &>view:nth-child(1) {
      background-color: #ffffff;
    }
  
  
    //list数据
    .list_ {
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0rpx 10rpx;
      border-bottom: 1rpx solid #E5E5E5;
  
      .item {
        padding-bottom: 38rpx;
        margin-top: 36rpx;
        display: flex;

        .left {
          width: 210rpx;
          height: 160rpx;
          margin-right: 24rpx;
          display: flex;
          justify-content: center;
          align-items: center;
          & > view {
            color: #FC7946;
        
            & > view:nth-child(1) {
              margin-bottom: 5rpx;
              & > text:nth-child(1) {
                font-weight: 600;
                font-size: 46rpx;
              }
              & > text:nth-child(2) {
                font-size: 32rpx;
              }
            }
        
            & > view:nth-child(2) {
              font-size: 24rpx;
            }
          }
        }
  
        .right {
          font-size: 24rpx;
          color: #808080;
          flex: 1;
          & > view {
            margin-bottom: 5rpx;
          }
          & > view:nth-child(1) {
            font-size: 32rpx;
            color: #3E3E3E;
            margin-bottom: 10rpx;
          }
        }
      }
      &>view:first-child {
        padding-top: 38rpx;
        margin-top: 0rpx;
      }
  
      &>view:last-child {
        border-bottom: none;
        border-bottom: 0rpx;
      }

    }
  
  }

}


