.container {
  overflow: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #F5F6FA;


  .overflow1 {
    width: 420rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


  .community {
    background-color: #F5F6FA;
    min-height: 100vh;
  
    .at-search-bar__placeholder-wrap {
      padding-right: 140rpx;
      justify-content: flex-end;
    }
    .at-search-bar__input {
      padding-left: 275rpx;
      padding-right: 0rpx;
    }
    .at-icon-search {
      // position: absolute;
      // left: 225rpx;
      display: none;
    }
    &>view:nth-child(1) {
      margin-bottom: 20rpx;
    }
  
    //list数据
    .list {
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0rpx 10rpx;
      border-bottom: 1rpx solid #E5E5E5;
  
      .item {
        padding-bottom: 38rpx;
        margin-top: 36rpx;
        display: flex;

        .left {
          width: 210rpx;
          height: 160rpx;
          margin-right: 24rpx;
          display: flex;
          justify-content: center;
          align-items: center;
          & > view {
            color: #FC7946;
        
            & > view:nth-child(1) {
              margin-bottom: 5rpx;
              & > text:nth-child(1) {
                font-weight: 600;
                font-size: 46rpx;
              }
              & > text:nth-child(2) {
                font-size: 32rpx;
              }
            }
        
            & > view:nth-child(2) {
              font-size: 24rpx;
            }
          }
        }
  
        .right {
          font-size: 24rpx;
          color: #808080;
          flex: 1;
          & > view {
            margin-bottom: 5rpx;
          }
          & > view:nth-child(1) {
            font-size: 32rpx;
            color: #3E3E3E;
            margin-bottom: 10rpx;
          }
        }
      }
      &>view:first-child {
        padding-top: 38rpx;
        margin-top: 0rpx;
      }
  
      &>view:last-child {
        border-bottom: none;
        border-bottom: 0rpx;
      }

    }
  
  }

}


