
.issue_home {
  overflow: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  // background-color: #F5F6FA;

  .boxs {
    color: #3E3E3E;
    .title {
      padding: 27rpx 41rpx 30rpx 46rpx;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      border-bottom: 1rpx solid #D9D9D9;
  
      .mar_r {
        margin-right: 13rpx;
        font-size: 32rpx;
        
      }
    }
  
    .content {
      box-sizing: border-box;
      background: #F5F6FA; 
      .header {
        padding-top: 20rpx;
        &>view {
          height: 270rpx;
          font-size: 28rpx;
          color: #FFFFFF;
          width: 100%;
          background: url('http://cwt.yiyatong.net.cn:8087/system/weapp-image/pic_bgfabu.png');
          background-size: 100% 100%;
          box-sizing: border-box;
          padding-top: 35rpx;
          display: flex;
        }
        &>view>view {
          flex: 1;
          image {
            margin-bottom: 23rpx;
            width: 100rpx;
            height: 100rpx;
          }
        }
      }
    }
  }

  .nodata {
    width: 100%;
    background: #F5F6FA;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #808080;
    &>view {
      image {
        width: 210rpx;
        height: 160rpx;
        margin-bottom: 30rpx;
      }
      view {
        text-align: center;
      }
    }
  }

}