.nav_box {
  position: relative;
  z-index: 12000;
  .nav {
    position: fixed;
    background: #ffffff;
    width: 100vw;
    left: 0px;
    top: 0px;
    z-index: 12000;
    .navbar {
      position: absolute;
      width: 100vw;
      .nav-title {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        // font-size: 30px;
        font-weight: 500;
      }
      .btn_box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        height: 37px;
        border: 1rpx solid #E8E8E8;
        border-radius: 32rpx;
        width: 170rpx;
        padding: 12rpx 0rpx;
        .back-icon, .home-icon {
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          display: flex;
          width: 42px;
          height: 42px;
        }
        .back-icon {
          left: 10px;
          width: 70px;
          border-right: 1px solid #CACACA;
        }
        .home-icon {
          width: 60px;
          left: 95px
        }
      }
      .nav_back {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        .back-icon {
          width: 42px;
          height: 42px;
        }
      }
      .img {
        width: 42px;
        height: 42px;
        margin: auto;
      }
    }
  }

}
