.no_serve {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .one {
    width: 380px;
    height: 380px;


    .img {
      width: 380px;
      height: 380px;
    }
  }


  .tips {
    margin-top: 77px;

    text-align: center;
  }
}