.boxs {
  overflow: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  background: #F5F6FA;

  .c_detail {
    padding-bottom: 50rpx;
    box-sizing: border-box;
    overflow: hidden;
  
    .overflow {
      width: 400rpx;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  
    &>view {
      background: #ffffff;
      box-sizing: border-box;
      padding: 38rpx 46rpx 18rpx 46rpx;
      margin-top: 20rpx;
      display: flex;
      justify-content: space-between;
      font-size: 30rpx;
      color: #808080;
      &>view>view {
        margin-bottom: 20rpx;
      }
      .right {
        text-align: right;
  
      }
    }
    &>view:nth-child(2) {
      padding-bottom: 10rpx;
    }
    &>view:nth-child(3) {
      padding-bottom: 22rpx;
    }
    &>view:nth-child(4) {
      padding-bottom: 71rpx;
    }
  }

}

